{extends layout.latte}

{block title}Projekt APV{/block}

{block body}
    <div class="container">
        <h1>BODY CONTENT</h1>

        <table  border=1>
            <tr>
            <th>Jmeno</th>
            <th>Prijmeni</th>
            </tr>
            {foreach $people as $person}
            <tr>
                <td>{$person['first_name']}</td>
                <td>{$person['last_name']}</td>
            </tr>
            {/foreach}
            </table>


    </div>
{/block}